
body {
    font-family: Arial, Helvetica, sans-serif;
    
}
   
    main {
    width: 1200px;
    margin: 50px auto; 
    background-color:#ffffff; 
    border: 3px solid #e0e0e0; 
    padding: 10px;   
     
}
   
    h1 {
       text-align: center;
        color: #fdfdfd;
        font-size: 200%;
        text-transform: uppercase;
    }
  
    header {
        background-color: rgb(15, 24, 146);
        background-image: linear-gradient(blue,rgb(101, 4, 158));
        padding: 18px;
        text-align: center;
    border-bottom: solid rgb(228, 226, 226) 2px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0); 
  }
  
      

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 24%;
  }
  
  div.gallery:hover {
    /* border: 1px solid #777; */
 
 
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
 box-shadow: rgb(29, 29, 29) 5px 5px 10px;
 /* transition: width 1s,height 2s; */
}
  
  
div.gallery img:hover {
 /* width: 200%;
height: auto; */ 
transform: skewX(20deg);


}




div.desc {
    padding: 15px;
    text-align: center;
    color: rgb(243, 243, 243);
    border-radius: 10px;
    background-image: linear-gradient( rgb(0, 0, 255),rgb(101, 3, 146));
    background-color: blue;
     

  }




.clear {
    clear:both;
}



footer > hr {

margin-top: 120px;
}







.topnav {
    overflow: hidden;
    background-color: rgb(179, 179, 179);
  width: 386px;
  border-radius: 25px;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  
  }
  
  .topnav a:hover {
    color: rgb(255, 255, 255);
    border-radius: 25px;
       background:blue;
   }
  
  .topnav a.active {
    color: white;
       border-radius: 25px;
       background: #4a00f8;
   
   }
  
  .topnav .icon {
    display: none;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    color: rgb(0, 0, 0);
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav {
       
      width: 45%;
      
      }

  }










  @media only screen and (max-width: 1200px) {
    main {

        width:70%;
    }

    div.gallery {
width: 30%;

    }

}

@media only screen and (max-width: 800px) {
  
    div.gallery {
width: 45%;

    }

}


@media only screen and (max-width: 500px) {
  
    div.gallery {
width:100%;

    }

}

