
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/background.jpg");  
}
   
    main {
    width: 1200px;
    margin: 50px auto; 
    color: white;
    border: 3px solid #e0e0e0; 
    padding: 10px;   
     
}
   
    h1 {
       text-align: center;
        color: #ffffff;
        font-size: 200%;
        text-transform: uppercase;
    }
  
       
      header {
        background-color: rgb(15, 83, 146);
        background-image: linear-gradient(blue,rgb(101, 4, 158), red);
        padding: 18px;
        color: white;
        text-align: center;
    border-bottom: solid rgb(206, 203, 203) 2px;
    }

      footer > hr {

        width: 1150px;
      }

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 24%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.clear {
    clear:both;
}

@media only screen and (max-width: 1200px) {
    main {

        width:90% ;
    }

    div.gallery {
width: 30% ;

    }

}

@media only screen and (max-width: 800px) {
  
    div.gallery {
width: 45% ;

    }

}


@media only screen and (max-width: 500px) {
  
    div.gallery {
width: 100% ;

    }

}