body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    }
    main {
    width: 1200px;
    margin: 50px auto; 
    background-color:#ffffff; 
    border: 3px solid #e0e0e0; 
    padding: 10px; 
    
    }
   
  
    h2 {
text-align: center;
    }

    header {
        background-color: rgb(15, 83, 146);
        background-image: linear-gradient(blue,rgb(101, 4, 158));
        padding: 18px;
        color: white !important;  
        text-align: center;
    border-bottom: solid rgb(206, 203, 203) 2px;
    }

    h1 {
        text-align: center;
       
         font-size: 200%;
         text-transform: uppercase;
     }