table,th,td {
border: 1px solid rgb(0, 0, 0);
border-collapse: collapse;
padding-left: 5px;
}

table {
margin-left: 180px;
    width: 70%;
   
}


dt {
font-weight: 700;
font-size: 1.5em;
margin-top: 7px ;
text-align: center;

}

dd {
font-style:italic;
margin-top: 10px ;
margin-left: 0;
text-align: center;
text-decoration-style: dashed;
}

#fr {
width: 130px;

}

#text {

    padding-left: 40px ;
    font-size:x-large;
}

th {
color: rgba(252, 252, 252, 0.933);
    background-color: blue;
}

#grey {

background-color: #eee;


}


/*
[rowspan="2"] {
background-color:rgb(170, 174, 175);

}
*/


@media only screen and (max-width: 1200px) {

    table {
        margin-left: 10px;
            width: 95%;
           
        }

}


@media only screen and (max-width: 500px) {

    table {
        margin-left: 1px;
            width: 100%;
           
        }


    }