table,th,td {
border: 1px solid rgb(0, 0, 0);
border-collapse: collapse;

}

table {
margin-left: 159px;
    width: 70%;

}

#mojebunka {
padding: 5px;

}

dt {
font-weight: 700;
font-size: 1.5em;
margin-top: 7px ;
text-align: center;

}

dd {
font-style:italic;
margin-top: 10px ;
margin-left: 0;
text-align: center;
text-decoration-style: dashed;
}



/*
[rowspan="2"] {
background-color:rgb(52, 214, 255);

}
*/